.title{
    padding: 8rem;
}

.currentNominations{
    padding-top: 40px;
    padding-bottom:20px;
}

.resultCards{
    display: inline-block;
}

.nominationCards{
    display: inline-block;
}

.cardIMG{
    width: 25%;
}

.searchBar{
    padding-top: 4rem;
}

.nominationsContainer{
    padding-bottom: 1rem;
}

.nominationsNumber{
    padding-top: 4rem;
}